# ==============================================
# PDF Service — Environment Configuration
# ==============================================
# Copy file ini menjadi .env
# cp .env.example .env

# ----------------------------------------------
# PORT
# ----------------------------------------------
EXPOSE_PORT=7100

# ----------------------------------------------
# GOTENBERG AUTH
# ----------------------------------------------
# Credentials untuk basic auth di Gotenberg (bukan Traefik)
GOTENBERG_USER=admin
GOTENBERG_PASS=ganti_dengan_password_kuat
